*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding:18px 35px ;
    border-radius: 5px;
    font-size: 20px ;
    font-weight: bold;
    cursor: pointer;
} .section-heading h2{
    font-size: 36px ;
    font-weight: 700;
    margin-bottom: 30px ;
   
} .section-heading p{
  max-width: 827px;
  text-align: center;
   font-size: 18px ;
    color: #757575;
    margin-bottom: 30px ;

}
.section-heading{
    font-size: 35;
    font-weight: bold;
    margin:0 auto;
    text-align: center;
}
.logo h2{
    font-size:45px ;
    display: flex;
    font-weight: 700;

} .color-orange{
    color:#FD6E0A;
}
/*  main style */
header{
    background-color: #FFF8F3;
    padding: 51px ;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;

}   
nav{
    width:71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;

} #banner{
  /* border: 1px solid red; */
   margin:47px 38px 0 230px ;
    display: flex;
justify-content: space-between;
align-items: center;
}
#banner .banner-content
{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px ;
}#banner .banner-content p{
    font-size: 18px;
    margin-bottom: 30px ;
   color: #757575;
}
.banner-image{
    width: 584px;
    vertical-align: middle;

}
#about{
    padding: 131px;
}
#about .about-content{
   width: 71%;
   max-width: 1140px;
   margin:0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding:131px 157px;
}
#about .about-content .About-info{
    display: flex;
   
    justify-content: space-around;
}
#about .about-content .About-info .info-card p{
     
  text-align: center;
   font-size: 20px ;
    color: #757575;
    
}
#skills{
    padding: 31px 0;
 width: 71%;
    max-width: 1140px;
    margin:0 auto;
   
}

    

.section-head h2{
    
    font-size: 36px ;
    font-weight: 700;
    margin-bottom: 30px ;
    text-align: center;
}

.section-head p{
  max-width: 827px;
  text-align: center;
   font-size: 18px ;
    color: #757575;
    margin-bottom: 30px ;
    padding-left: 260px;
    padding-right: 0px;

}

 .skill-box{
    display: flex;
    
    gap: 40px ;
    margin-top: 50px ;}
    .skill-card{
        padding:30px ;
       
        max-width: 267px;
        box-shadow: 0px 6px 50px 0px #5f58abfa;
        
    } .skill-card img{
        max-width: 44px;
        margin-bottom: 30px;
    }
    .skill-card h3{
       font-size: 20px ;
        font-weight: bold;
        color: #181818;
        margin-bottom: 20px ;
    } .skill-card p{
        max-width: 827px;
  
   font-size: 18px ;
    color: #757575;
    margin-bottom: 30px ;
    }
        
.resume-content{
    display: flex;
    justify-self: center;
   
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 50px;
} 
.section-heading h2{
    margin-top: 130px;
    margin-bottom: 113px;
    font-size: 35px;
    font-weight: bold;}
    .resume-title{
         margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold ;
    color: #474747;
    
    }
.card-title{
    font-size: 25px;
    font-weight: bold ;
    color: #474747;
     margin-top: 30px;
     margin-right: 71px;
}
.card-info{
    font-size: 20px;
    font-weight: bold ;
    color: #757575;
     margin-top: 30px;margin-right: 71px;
}
.card-details{
    font-size: 16px;
    
    color: #757575;
    margin-top: 30px;
    margin-bottom: 30px;margin-right: 71px;
}
.Experience-title{
         margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold ;
    color: #474747;
    
    }